<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssertEx" version="1.0.0" targetFramework="net45" />
  <package id="FodyCecil" version="1.28.3" targetFramework="net45" developmentDependency="true" />
  <package id="NBuilder" version="3.0.1.1" targetFramework="net45" />
  <package id="Sequences" version="1.0.1" targetFramework="net45" />
</packages>